[project]
	description = Meteor app for coordinating solving for our MIT Mystery Hunt team
[access "refs/*"]
	owner = group user/C. Scott Ananian (cscott)
[access "refs/for/refs/*"]
	read = group user/C. Scott Ananian (cscott)
	push = group user/C. Scott Ananian (cscott)
	label-Code-Review = -2..+2 group user/C. Scott Ananian (cscott)
	label-Verified = -1..+1 group user/C. Scott Ananian (cscott)
	rebase = group user/C. Scott Ananian (cscott)
	removeReviewer = group user/C. Scott Ananian (cscott)
	submit = group user/C. Scott Ananian (cscott)
[access "refs/heads/*"]
	read = group user/C. Scott Ananian (cscott)
	create = group user/C. Scott Ananian (cscott)
	push = +force group user/C. Scott Ananian (cscott)
	pushMerge = group user/C. Scott Ananian (cscott)
[access "refs/tags/*"]
	push = +force group user/C. Scott Ananian (cscott)
	pushTag = group user/C. Scott Ananian (cscott)
	pushSignedTag = group user/C. Scott Ananian (cscott)
